<!DOCTYPE html>
<html>
<head>
	<title>Swahilipot Members</title>

	<style>
		table {
		    font-family: arial, sans-serif;
		    border-collapse: collapse;
		    width: 100%;
		}

		td, th {
		    border: 1px solid #dddddd;
		    text-align: left;
		    padding: 8px;
		}

		tr:nth-child(even) {
		    background-color: #dddddd;
		}
	</style>
</head>

<body>
	<h1 style="color:green;">SWAHILI POT HUB</h1>
	<h3 style="color:red;">Members form</h3>
	<p>Swahilipot Hub is focused on pursuing three main objectives within the Coastal region of Kenya:

    Create favorable environment for the youth to innovate through Arts and Technology.
    Build sustainable solutions that enhance transformation in the community.
	Provide a space where peer to peer training is conducted and partnerships are drawn</p>
	<img src="static/tec.jp" alt="technology" width="500" height="377">
	<form action="{{ url_for('add_entry') }}" method=post class=add-entry>
	  Fullname: <input type=text size=30 name=fullname><br>
	  Ocupation: <input type=text size=30 name=ocupation><br>
	  Phone_number: <input type=text size=30 name=phone_number><br>
	  Gender: <input type=text size=30 name=gender><br>
	  <!-- Text: <textarea name=text rows=5 cols=40></textarea> -->
	  <input type=submit value=submit>
	</form>

	<table>
	  <tr>
	    <th style="color:blueviolet;">fullname</th>
	    <th style="color:blueviolet;">Phone_number</th>
	    <th style="color:blueviolet;">Ocupation</th>
	    <th style="color:blueviolet;">Gender</th>
	  </tr>
	  {% for entry in entries %}
	  <tr>
	  		<td>{{entry.fullname}}</td>
	  		<td>{{entry.phone_number}}</td>
	  		<td>{{entry.ocupation}}</td>
	  		<td>{{entry.gender}}</td>
	  </tr>
	  {%endfor%}
	</table>
</body>
</html>


